body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background-color: #e2edff;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
